@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
/* font-family: 'Titillium Web', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

div, a, span, p {
  font-family: 'Titillium Web', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Hide input number arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #1690f3;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c6f99;
}

/* Home sections and market page */

.home-section {
  background-image: url('/img/bg3.svg');
  background-size: cover;
  background-position-y: bottom;
  z-index: -1;
}

.home-section-flex {
  width: 450px;
}

@media (max-width: 470px) {
  .table-market {
    padding-left: 20px;
    padding-right: 20px;
  }
  .table-market-name {
    width: 65%;
  }
  .table-market-price {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .home-section-flex {
    padding: 0 5%;
    width: 100%;
  }
}

@media (min-width: 1280px) {    
    .home-section-lh {
      line-height: 1.2 !important;
    }
    .home-section-flex {
      width: 500px;
    }
}

/* Loading spinner */

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  margin: 0 auto;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #1690f3;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {

  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%,
  0% {
    transform: scale(1.0);
  }
}

/* Ellipsis */

@media (max-width: 1280px) {
  .trade-ellipsis {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
  }
}

/* Tooltip */

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(2, 132, 199, .9);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 16px !important;
  font-weight: 500;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 110%;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 36%;
  left: 0;
  margin-left: -14px;
  border-width: 7px;
  border-style: solid;
  border-color: rgba(2, 132, 199, .9) transparent transparent transparent;
  transform: rotate(90deg);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Layout Private */

.layout-children-height {
  height: calc(100vh - 5rem);
}

.dashboard-img span {
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
}